test-dist-flow.json
[{"type":"tab","id":"db25cd7.f24da3","label":"First"},{"type":"tab","id":"883b908d.77c47","label":"Second"},{"id":"81bbf709.7e4408","type":"mqtt-broker","broker":"ec2-54-193-187-45.us-west-1.compute.amazonaws.com","port":"1883","clientid":""},{"id":"642cf11d.9bd31","type":"twitter-credentials","screen_name":""},{"id":"4df14906.b20eb8","type":"twitter-credentials","screen_name":""},{"id":"5df4ceb5.a20b3","type":"inject","name":"wha!","deviceId":"server","topic":"","payload":"wha!","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.09091186523438,"y":108.09091186523438,"z":"db25cd7.f24da3","wires":[["97f09b67.680f68"]]},{"id":"97f09b67.680f68","type":"function","name":"No Op 1","deviceId":"mac","func":"\nreturn msg;","outputs":1,"x":153.09091186523438,"y":254.09091186523438,"z":"db25cd7.f24da3","wires":[["4dd3d402.b22c2c"]]},{"id":"4dd3d402.b22c2c","type":"function","name":"No Op 2","deviceId":"mac","func":"\nreturn msg;","outputs":1,"x":217.09091186523438,"y":343.0909118652344,"z":"db25cd7.f24da3","wires":[["2c506c7b.d3af94"]]},{"id":"2c506c7b.d3af94","type":"function","name":"No Op 3","deviceId":"mac","func":"\nreturn msg;","outputs":1,"x":285.0909118652344,"y":436.0909118652344,"z":"db25cd7.f24da3","wires":[["1003260b.effcda"]]},{"id":"1003260b.effcda","type":"debug","name":"debug","deviceId":"server","active":true,"console":"false","complete":"false","x":517.0909118652344,"y":475.0909118652344,"z":"db25cd7.f24da3","wires":[]}]